<h1 class='header' >Welcome to the AJAX online store</h1>
<hr />

<form id='product_edit_form' class='hide'>
  <input type='text' name='product[name]' id='product_name' />
  <input type='number' name='product[base_price]' id='base_price' />
  <input type='text' name='product[description]' id='product_description' />
  <input type='number' name='product[quantity_on_hand]' id='product_quantity_on_hand' />
  <input type='hidden' name='id' id='product_id' />

  <input type='submit' />
</form>
<div id='products'>
</div>